*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}

.header { 
    z-index: 7;
    position: fixed;
    top: 0;
    background-color: #ffffff00;
    color: #ffffff;
    height: 8%;
    width: 100vw;
    text-align: right;
}
.header_scroll_and_change{
    z-index: 7;
    position: fixed;
    top: 0;
    background-color: #ffffff;
    color: #000000;
    height: 8%;
    width: 100vw;
    text-align: right;
    border-bottom: 1px solid black;
    box-shadow: 0px 0px 30px rgb(74 74 74 / 86%);
}
header nav{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end; 
    
}
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    

}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
    transition: all 0.3s linear;
    text-decoration: none;
    cursor: pointer;

    &:hover{
        text-decoration: underline;
    }
}

main {
    margin-top: 0%;
    display: flex;
    z-index: 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}


section {
    overflow: scroll;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    
}
section::-webkit-scrollbar{
    display: none;
}
#home{
    display: block;
    scroll-behavior: smooth;
}
.hero{
    background-image: url('herosec_img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 110%;
    
}
.hero>div{
    position: relative;
    top: 0%;
    height: 100%;
    width: 100%;
    background: #0000003f;
    z-index: 4;
}
.hero>div>#contant_hero{
    position: relative;
    top: 45%;
    left: 15%;
    height: 200px;
    width: 301px;
    z-index: 5;
}
.hero_title{
    font-size: 30px;
    color: white;
}
.hero>div>#contant_hero>p{
    position: absolute;
    opacity: 0;
    color: white;
}
.hero_button{
    margin:70px 0px;
    height: 35px;
    width: 170px;
    border-radius: 30px;
    font-size: 15px;
    background: transparent;
    color: white;
    border: 2px solid #ffffff;
    transition: all 0.5s linear;
    cursor: pointer;
    &:hover{
        box-shadow: 0px 0px 11px #ffffffa1;
    }
}
.hero_paragraph_1{
    animation: hero_para_1 20s  0s infinite ease-in-out;
}
@keyframes hero_para_1 {
    0%{
        transform: translateY(-50px);
        opacity: 0;
    }
    3%{
        transform: translate(0px);
        opacity: 1;
    }
    17%{
        transform: translateY(0px);
        opacity: 1;
    }
    20%{
        transform: translateY(50px);
        opacity: 0;
    }
    100%{
        transform: translateY(50px);
        opacity: 0;
    }
}
.hero_paragraph_2{
    animation: hero_para_2 20s  4s infinite ease-in-out;
}
@keyframes hero_para_2 {
    0%{
        transform: translateY(-50px);
        opacity: 0;
    }
    3%{
        transform: translate(0px);
        opacity: 1;
    }
    17%{
        transform: translateY(0px);
        opacity: 1;
    }
    20%{
        transform: translateY(50px);
        opacity: 0;
    }
    100%{
        transform: translateY(50px);
        opacity: 0;
    }
}
.hero_paragraph_3{
    animation: hero_para_3 20s  8s infinite ease-in-out;
}
@keyframes hero_para_3 {
    0%{
        transform: translateY(-50px);
        opacity: 0;
    }
    3%{
        transform: translate(0px);
        opacity: 1;
    }
    17%{
        transform: translateY(0px);
        opacity: 1;
    }
    20%{
        transform: translateY(50px);
        opacity: 0;
    }
    100%{
        transform: translateY(50px);
        opacity: 0;
    }
}
.hero_paragraph_4{
    animation: hero_para_4 20s  12s infinite ease-in-out;
}
@keyframes hero_para_4 {
    0%{
        transform: translateY(-50px);
        opacity: 0;
    }
    3%{
        transform: translate(0px);
        opacity: 1;
    }
    17%{
        transform: translateY(0px);
        opacity: 1;
    }
    20%{
        transform: translateY(50px);
        opacity: 0;
    }
    100%{
        transform: translateY(50px);
        opacity: 0;
    }
}
.hero_paragraph_5{
    animation: hero_para_1 20s  16s infinite ease-in-out;
}
@keyframes hero_para_5 {
    0%{
        transform: translateY(-50px);
        opacity: 0;
    }
    3%{
        transform: translate(0px);
        opacity: 1;
    }
    17%{
        transform: translateY(0px);
        opacity: 1;
    }
    20%{
        transform: translateY(50px);
        opacity: 0;
    }
    100%{
        transform: translateY(50px);
        opacity: 0;
    }
}
.hero>div>#view_more{
    position: relative;
    top: 51%;
    left: 51%;
    height: fit-content;
    width: fit-content;
    z-index: 5;
    transform: rotate(90deg);
    animation: viewMore 1s infinite linear;
}
.hero>div>#view_more>span{
    cursor: pointer;
    color: white;
    font-size: 25px;
}
@keyframes viewMore{
    0%{
        transform: translateY(0) rotate(90deg);
    }
    50%{
        transform: translateY(10px) rotate(90deg);
    }
    100%{
        transform: translateY(0) rotate(90deg);
    }
}
.about{
    display: block;
    width: 100%;
    height: 100%;
    padding: 40px 0px;
}
.about h3{
    margin: 75px 150px 0 150px;
}
.about p{
    margin: 15px 150px 52px 150px;
}

/* courses */
.courses_container{
    margin-top: 3%;
}
.course{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.course_heading{
    margin: 15px 0px;
    height: 5%;
    width: 90%;
    font-size: 1.8rem;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}
.course_body{
    height: 95%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.course_img{
    margin-left: 5%;
    height: 95%;
    width: 60%;
    overflow: hidden;
    cursor: pointer;
    border-radius: 30px;
}
.course_img_title{
    height: auto;
    width: auto;
    text-decoration: underline orange;
    position: relative;
    top: 42%;
    left: 42%;
    font-size: 42px;
    color: white;
}
.course_img_para{
    height: auto;
    width: 45%;
    position: relative;
    top: 92%;
    left: 30%;
    color: white;
    background: #00000050;
}
#course_img_web{
    background-image: url('WebDev.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#course_img_app{
    background-image: url('AppDev.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#course_img_AIML{
    background-image: url('AIML.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#course_img_UIUX{
    background-image: url('UIUX.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#course_img_DevOps{
    background-image: url('DevOps.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.course_details{
    height: 100%;
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.course_details button{
    margin: 20px;
    height: 35px;
    width: 145px;
    border-radius: 40px;
    background: #ffffff00;
    color: #5c5c5c;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid #5c5c5c;
    transition: all 0.5s linear;
    cursor: pointer;
    &:hover{
        box-shadow: 0px 0px 8px #000000ab;
    }
}
.course_details div {
    margin-top: 40px;
    width: 35%;
    height: 25%;
    
}
.course_details div h4{
    text-decoration: underline;
    font-size: 20px;
}
.course_details div ul{
    height: 92%;
    width: fit-content;
    margin-left: 10px;
    list-style: circle;
    overflow: scroll;
    &::-webkit-scrollbar{
        display: none;
    }
}


.contact_ways{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact_num_ema{
    margin: 50px;
    width: 50%;
    height: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
}
.contact_logos_container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
}
.contact_logos{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: all 0.4s linear;
    &:hover{
        box-shadow: 0px 0px 10px black;
        transform: translateY(-5px);
        scale: 1.1;
    }
}
#WhatsApp_link{
    background-image: url('whatsapp\ logo.png');
    background-size: cover;
}
#FaceBook_link{
    background-image: url('Facebook\ logo.png');
    background-size: cover;
}
#X_link{
    background-image: url('x\ logo.png');
    background-size: cover;
}
#LinkedIn_link{
    background-image: url('linkdin\ logo.png');
    background-size: cover;
}
